# .htaccess
<IfModule mod_rewrite.c>
    # Activa el motor de reescritura
    RewriteEngine On
    
    # Si el recurso solicitado NO es un archivo existente
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Y si el recurso solicitado NO es un directorio existente
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirige cualquier URL a index.php, conservando los parámetros GET de UniFi (QSA)
    RewriteRule ^ index.php [QSA,L]
</IfModule>